body{
    background-color: aliceblue;
	margin-top: 20px;
	margin-bottom: 20px;
}

div{
		border: none;
	padding: 50px, 60px;
	background-color: lightblue;
	text-align: center;
	width: 500px;
	padding-top: 60px;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 70px;
	border-radius: 50px;
	

	}
	button{
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 28px;
  color: white;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: lightsalmon;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
	